name: Poll Stock Prices

on:
  schedule:
    - cron: '*/15 * * * *' # Run every 15 minutes
  workflow_dispatch: # Allow manual trigger

jobs:
  poll:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Price Polling API
        run: curl -f -s -v -X GET "https://tdat06152-crawlstock.vercel.app/api/cron/poll-prices" -H "x-cron-secret:${{ secrets.CRON_SECRET }}"
